# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Express
.env

# Logs
logs/
*.log

# Build output
dist/

# Dependency directories
jspm_packages/
bower_components/

# IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Windows
Thumbs.db